{% extends "landsatapp/layout.html" %}

{% block script %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block body %}
    <h1>Welcome to the Landsat Map</h1>
    <div id="map"></div>
    <div id="notifications"></div>

    <script>
        let latitude = 0;
        let longitude = 0;
        var map = L.map('map').setView([13.10623, 440.271606], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var popup = L.popup();

        var marker;

        function clearMarker() {
            if (marker) {
                map.removeLayer(marker);
                marker = null;
                document.getElementById('notifications').innerHTML = '';
            }
        }
        
        function onMapClick(e) {
            latitude = e.latlng.lat;
            longitude = e.latlng.lng;
            console.log(latitude, longitude);

            if (marker) {
                map.removeLayer(marker);
            }

            marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup("<b>Latitude: </b>"+latitude+"<br><b>Longitude: </b>"+longitude).openPopup();
        }
        console.log(latitude, longitude);
        map.on('click', onMapClick);

        map.on('click', function() {
            // Assume these variables are set from your map

            
            // Make a fetch request to your Django view with the shorter URL
            fetch(`/landsat_pass/?latitude=${latitude}&longitude=${longitude}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('notifications').innerHTML = '';
                    // Display the notifications in the console or update the HTML
                    data.notifications.forEach(function(notification) {
                        console.log(notification);
                        // Append notification to the HTML element
                        const notificationDiv = document.getElementById('notifications');
                        notificationDiv.innerHTML += `<p>${notification}</p>`;
                    });
                })
                .catch(error => {
                    console.error('Error fetching Landsat pass notifications:', error);
                });
        });



    </script>
    <button class="signin-btn" onclick="clearMarker()">Clear Marked Location</button>
   
{% endblock %}
